{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>
<body>


     <nav class="navbar navbar-dark bg-dark">
         <div class="container-lg">
             <a class="navbar-brand" href="/">
                 <img src="{% static 'main/img/Дом.png' %}" alt="home" width="50" height="50">
             </a>

             <form class="d-flex" role="search" action="" method="get">
                 <input class="form-control me-2" name="s" id="floatingSearch" placeholder="Искать здесь..." type="search">
                 <button class="btn btn-outline-info" type="submit">Поиск</button>
             </form>

             <a class="navbar-brand" href="/cart">
             </a>

             <a class="navbar-brand" href="/profile">
             </a>
         </div>
      </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


</body>
</html>
