{% extends 'calculator/layout.html' %}



{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div style="width: 200px; margin-bottom: 40px;">
            <label for="weight" class="form-label">Введите вес снаряда:</label>
            <input type="number" class="form-control" min="1" id="weight" name="weight" placeholder="Вес" required><br>
            <label for="reps" class="form-label">Введите количество повторений:</label>
            <input type="number" class="form-control" min="2" max="36" id="reps" name="reps" placeholder="Повторения" required><br>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>
    {% if maximum %}
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Формула</th>
                <th>Максимум</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td>Бойд Эпли</td>
                <td>{{maximum.BoydEpley}}</td>
            </tr>
            <tr>
                <td>Мэтт Бржицки</td>
                <td>{{maximum.MattBrzycki}}</td>
            </tr>
            <tr>
                <td>МакГлотин</td>
                <td>{{maximum.McGlothin}}</td>
            </tr>
            <tr>
                <td>Лэндер</td>
                <td>{{maximum.Lander}}</td>
            </tr>
            <tr>
                <td>Ломбарди</td>
                <td>{{maximum.Lombardi}}</td>
            </tr>
            <tr>
                <td>Мэйхью</td>
                <td>{{maximum.Mayhew}}</td>
            </tr>
            <tr>
                <td>О'Коннор</td>
                <td>{{maximum.OConner}}</td>
            </tr>
            <tr>
                <td>Ватан</td>
                <td>{{maximum.Wathan}}</td>
            </tr>
            <tr>
                <td>Вендлер</td>
                <td>{{maximum.Wendler}}</td>
            </tr>
            <tr>
                <td><b>Средний максимум</b></td>
                <td><b>{{maximum.AvgMaximum}}</b></td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}